@import '../../App.scss';

.main-section {
  display: flex;
  height: calc(100vh - #{$header-height});
  box-shadow: inset 0 8px 3px -3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, $orange 35%, $magenta);
  max-width: calc(100vw - #{$sidebar-lg-width});
  width: 100%;

  .section-panel {
    width: calc(100% - #{$ads-width});
    max-height: 100%;
    overflow-y: scroll;
    padding: 1rem 2rem;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      display: none;
      visibility: hidden;
    }

    .section-title {
      color: white;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and(max-width: $medium-breakpoint) {
  .main-section {
    max-width: calc(100vw - #{$sidebar-md-width});
  }
}

@media screen and(max-width: $small-breakpoint) {
  // Take over the room the Sidebar left empty
  .main-section {
    max-width: 100vw;
  }
}
