@import '../../App.scss';

$sidebar-colored-border-height: 2px;

.sidebar {
  width: $sidebar-lg-width;
  height: calc(100vh - #{$header-height});
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Top border with linear-gradient
  // See: https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient
  position: relative;
  margin-top: $sidebar-colored-border-height;
  &::after {
    content: '';
    position: absolute;
    height: $sidebar-colored-border-height;
    top: -$sidebar-colored-border-height;
    width: 100%;
    background-image: linear-gradient(to left, $magenta 30%, $orange);
  }

  .sidebar-list {
    width: 100%;

    .sidebar-list-item {
      width: 100%;

      .sidebar-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        padding: 0.8rem $header-side-padding;
        transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

        .sidebar-icon {
          margin-right: 0.5rem;

          &#heart {
            color: $heart-color;
          }

          &#user {
            color: $user-color;
          }

          &#home {
            color: $home-color;
          }

          &#comments {
            color: $comment-color;
          }
        }

        .sidebar-link-text {
          font-size: 0.9rem;
          white-space: nowrap;
        }

        &:hover {
          background-color: #ddd;
          color: #555;
        }

        &.active {
          background-color: #aaa;
          color: #555;

          .sidebar-icon {
            &#heart {
              fill: $heart-color;
            }

            &#user {
              fill: $user-color;
            }

            &#home {
              fill: $home-color;
            }

            // TODO: this fill isn't working with FaRegComment
            &#comments {
              fill: $comment-color;
            }
          }
        }
      }
    }
  }

  .sidebar-extras {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;

    .sidebar-extras-list-item {
      padding: 0.2rem $header-side-padding;

      a {
        background: -webkit-linear-gradient($magenta, $orange);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;

        // Link Bottom Line
        &::after {
          content: '';
          background: $magenta;
          position: absolute;
          bottom: -1px;
          width: 100%;
          left: 0;
          right: 0;
          height: 1px;
        }
      }
    }
  }
}

// Remove the text from the sidebar for medium breakpoints
@media screen and(max-width: $medium-breakpoint) {
  .sidebar {
    width: $sidebar-md-width;

    .sidebar-list .sidebar-list-item .sidebar-link {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;

      .sidebar-icon {
        margin-right: 0;
      }

      .sidebar-link-text {
        display: none;
      }
    }

    .sidebar-extras {
      display: none;
    }
  }
}

// Hide the sidebar for small breakpoints
@media screen and(max-width: $small-breakpoint) {
  .sidebar {
    display: none;
  }
}
