@import '../../App.scss';

$notification-height: 3rem;
$action-width: 1rem;
$notification-width: 90%;

.notification-card {

    margin-left: auto;
    border-left: 5px solid $heart-color;
    width: $notification-width;
    background-color: white;
    border-radius: 2px;
    box-sizing: border-box;
    height: $notification-height;
    margin-bottom: 0.8rem;
    padding: 1rem;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;

    // Change Border Color to Gray if Comment
    &.comment {
        border-left: 5px solid $comment-color;
    }


    .action-icon {
        width: $action-width;
        // height: 100%;
        &#heart {
            color: $heart-color;
        }
    }

    .notification-metadata {
        padding-left: 1rem;
        width: calc(100% - #{$action-width} - 1rem - 5px); // 1rem because of padding
        box-sizing: border-box;

        .notification-description {
            font-size: 0.8rem;
            position: relative;

            .notification-date {
                position: absolute;
                font-size: 0.7rem;
                color: #777;
                right: 0;
            }
        }
    }
}