@import '../../App.scss';

$post-height: 10rem;
$post-border-radius: 2px;

.post-card {
  width: 100%;
  background-color: white;
  border-radius: $post-border-radius;
  height: $post-height;
  margin-bottom: $margin-between-posts;
  padding: 1rem;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;

  .card-image {
    height: 100%;
    width: calc(#{$post-height} + 3rem);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $post-border-radius;
      background-color: $silhoutte-color;
    }
  }

  .post-info {
    margin-left: 1rem;
    width: calc(100% - #{$post-height} - 3rem);

    .post-profile {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      // Space between user details and post caption
      margin-bottom: 0.25rem;

      .username {
        font-size: 0.9rem;
        font-weight: 700;
        color: #555;

        // Space between username and user's profile picture
        margin-right: 0.5rem;
      }
    }

    .post-caption {
      height: 4rem;
      font-size: 0.75rem;
      font-weight: 500;

      // Space between post caption and post metadata
      margin-bottom: 0.5rem;

      // Ellipses for modern browsers
      // See: https://stackoverflow.com/questions/17028911/text-overflow-ellipsis-without-white-space-nowrap
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .post-metadata {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;

      .post-date {
        font-size: 0.7rem;
        color: #777;
        white-space: nowrap;
      }

      .post-actions {
        display: flex;
        align-items: center;

        .action-icons {
          cursor: pointer;

          // Space between each icon,
          // leaving out the last icon's margin
          &:not(:last-child) {
            margin-right: 0.5rem;
          }

          &#heart {
            color: $heart-color;
            &.liked {
              fill: $heart-color;
            }
          }

          & + #like-count,
          & + #comment-count {
            display: inline;
            font-size: 0.7rem;
          }

          & + #like-count {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .post-card {
    height: initial;
    flex-direction: column;

    .card-image {
      width: 100%;
      margin-bottom: 0.5rem;

      img {
        max-height: 8rem;
      }
    }

    .post-info {
      margin-left: 0;
      width: 100%;
    }
  }
}
