/* * * Global Variables * * */

// Breakpoints
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1200px;

// Colors
$magenta: rgb(235, 58, 126);
$orange: rgb(239, 134, 63);
$heart-color: rgb(227, 113, 108);
$user-color: rgb(223, 49, 182);
$home-color: rgb(24, 168, 24);
$comment-color: #777;
$silhoutte-color: #f4f4f4;

// Header
$header-height: 4.5rem;
$header-side-padding: 1.5rem;

// Sidebar
$sidebar-md-width: 3rem;
$sidebar-lg-width: 10rem;

// Navbar
$navbar-logo-size: 30px;

// Ads
$ads-width: 20%;

// Posts
$margin-between-posts: 0.8rem;

// Import Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

#root,
.App {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: $large-breakpoint) {
  .main-section {
    .ads-section {
      display: none;
    }
    .section-panel {
      width: 100%;
    }
  }
}
