@import '../../App.scss';

.new-tag {
  cursor: default;
  background-color: darken($silhoutte-color, 8);
  padding: 0 0.3rem;
  border-radius: 2px;
  color: $magenta;
}

.about-card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  padding: 2rem;

  .about-header {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;

    .logo {
      height: 10rem;
      width: 10rem;
      margin-right: 3rem;

      img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
        background-color: $silhoutte-color;
      }
    }

    .headlines {
      h2,
      h3 {
        font-weight: 600;
        margin-bottom: 0.2rem;
      }

      h3 {
        color: $orange;

        &:nth-child(3) {
          color: $magenta;
        }
      }
    }
  }

  .intro-paragraph {
    margin-bottom: 1rem;
  }

  .feature-list-anouncement {
    margin-bottom: 0.5rem;
  }

  .feature-list {
    margin-bottom: 5rem;
  }

  .charity-paragraph {
    margin-bottom: 0.5rem;
  }

  a {
    color: $magenta;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  small {
    color: $magenta;
  }

  ul {
    margin-left: 1rem;
    padding-left: 1rem;
    list-style-type: disc;
    color: darken($comment-color, 10);
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .about-card .about-header {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;

    .logo {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }

    .headlines {
      text-align: center;
    }
  }
}
